<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Occurs</th>
      <th>Start Scraping</th>
      <th>Stop Scraping</th>
      <th># scrapes performed</th>
    </tr>
  </thead>
  <tbody>
    <% events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event %></td>
        <td><%#= l event.occurs_at, format: :detail %></td>
        <td><%= l event.start_scraping_at, format: :detail %></td>
        <td><%= l event.stop_scraping_at, format: :detail %></td>
        <td><%= event.batches.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
